<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.assignment.panos.quizzz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/game"
        android:label="ED5042 Project"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.assignment.panos.quizzz.MainScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.assignment.panos.quizzz.Level1" />
        <activity android:name=".Next"></activity>
        <service android:name="com.assignment.panos.quizzz.SongService"/>
    </application>

</manifest>